<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="text-primary">Seleccione el evento</h2>
        </div>
        <div class="card-body">
            <form [formGroup]="formUploadImagesEvent" (ngSubmit)="uploadImagesEvent()" enctype="multipart/form-data" >
                <div class="row">
                    <div class="col-lg-6">
                        <select name="public" id="" class="form-control col-4 mb-3">
                            <option selected class="text-decoration-line-through">Elija un evento</option>
                            <option *ngFor="let event of events" [value]="event.name">--- {{event.name}}</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <select name="event" id="" class="form-control col-4">
                            <option selected><strong>Elija una categoría</strong></option>
                            <option value="public">Públicas</option>
                            <option value="public">Solo del evento</option>
                        </select>
                    </div>
                </div>

            <div class="input-group my-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="fileInput"
                  #fileInput (change)="onFileSelected($event)" accept=".png, .jpg, .jpeg" multiple>
                  <label class="custom-file-label" for="fileInput">{{ selectedFileName }}</label>
                </div>
              </div>
            

            <div class="card-body">
                <div class="row">
                    <div *ngFor="let imageUrl of imagesService.previewImages$ | async; let i = index" class="col-md-4">
                        <div class="mb-2 image-container">
                            <img [src]="imageUrl" alt="Preview" class="img-fluid">
                        </div>    
                            <div class="d-flex justify-content-start mt-2 mb-3 ">
                            <button class="btn btn-danger" (click)="removePreviewImage(i)">Eliminar</button>
                            </div>
                   </div>
                  </div>
            </div>
            <div  class="d-flex justify-content-start mt-2 mb-3 ">
                <button [hidden]="!verifArrayImages()" class="btn btn-primary" >Subir imágenes</button>
                </div>
        </form>
        </div>
    </div>
</div>