<div class="container ">
        <h4> Elije tu plan:</h4> 
        <div class="card-group mt-5">
            <div class="card shadow-lg mt-3" style="margin-right: -30px;">
                <div class="card-header  title1 text-light text-center">
                    <h2><strong>STANDARD</strong></h2>
                </div>
                <div class="card-body">
                    <div class="   text-center text-light">
                        <h1><strong class="price" >$ 7.99</strong></h1>
                   </div> 
                   <div class="mt-5 text-center">
                    <p>Actividad 1</p>
                    <p>Actividad 2</p>
                    <p>Actividad 3</p>
                </div>
                   <div class="mt-5 text-center" >
                       <button class="  btn title1 text-light" ><h5>Adquirir</h5></button>
                   </div>
                </div>
            </div>
            <div class="card shadow-lg" style="z-index: 99; ">
                <div class="card-header title2 text-center text-light">
                    <h2><strong >PREMIUM</strong></h2>
                </div>
                <div class="card-body">
                   <div class="text-center text-light">
                        <h1><strong  class="price1">$ 14.99</strong></h1>                  
                   </div> 
                   <div class="mt-5 text-center">
                    <p>Actividad 1</p>
                    <p>Actividad 2</p>
                    <p>Actividad 3</p>                     
                 </div>
                 <div class="mt-5 text-center" >
                    <button class=" btn title2 text-light" ><h5>Adquirir</h5></button>
                </div>
                </div>
            </div>
            <div class="card shadow-lg mt-3" style="margin-left: -30px;">
                <div class="card-header title text-center text-light">
                    <h2><strong>BASIC</strong></h2>
                </div>
                <div class="card-body">
                    <div class="text-center text-light">
                        <h1><strong class="price">$ 3.99</strong></h1>
                   </div> 
                   <div class="mt-5 text-center">
                    <p>Actividad 1</p>
                    <p>Actividad 2</p>
                    <p>Actividad 3</p>       
                 </div>
                 <div class="mt-5 text-center " >
                    <button class=" btn title text-light"><h5>Adquirir</h5></button>
                </div>
                </div>
            </div>
        </div>
    </div>