.title{
    background-color: #FB8C00;
}

.title1{
    background-color: #f9b248;
}

.title2{
    background-color: #E65100;
}

.price{
     color: #FF9100;
}

.price1{
     color:#E65100;
}

.boton{
    border-radius: 5px; 
    padding: 7px 15px;
}
